*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #8b4513;
    height: 30vh;
    width: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    text-align: center;
    color:#d2691e;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

nav > h2{
   margin: 4vh 30vw 4vh 0 ;
   font-weight: bold;
   color:#8b4513;
}

label{
    margin: 2vh 22vw 0 0 ;
    font-weight: bold;
    color:#8b4513;
}

input{
    width: 25vw;
    height:5vh;
    background-color: #d2691e;
    border-radius: 20px;
    border: none;
}

button{
    width: 25vw;
    height:5vh;
    background-color: #8b4513;
    border-radius: 20px;
    color: white;
    margin: 4vh 0 0 0 ;
    font-weight: bold;
    border: none;
}

p{
    margin: 8vh 0vw 0 40vw;
}

p> label{
    font-size: 15pt;
}