* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #57d131;
}

main {
    position: absolute;
    width: 90vw;
    height: 85vh;
    left: 10vh;
    top: 8vh;

    background: #ffff;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

#voltar{
    cursor: pointer;
    height: 4vh;
    margin-top: 2vh;
    margin-left: 1vw;

}

header>h1 {
    text-align: center;
    padding-top: 1.5vh;
    color: #f5f5f5;
}

.nav1 {
    box-sizing: border-box;
    position: absolute;
    width: 10vw;
    height: 74vh;
    left: 4vw;
    top: 7vh;

    background: #fff;
    border: 1px solid #B9E937;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    align-items: center;
    margin-top: 5vh;
}

button {
    border: #f5f5f5;
    border-radius: 25px;
    width: 7vw;
    height: 6vh;
    background-color: #B9E937;
    cursor: pointer;
}

.nav2 {
    box-sizing: border-box;
    position: absolute;
    width: 66vw;
    height: 74vh;
    left: 19vw;
    top: 7vh;

    background: #F5F5F5;
    border: 1px solid #B9E937;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

.buttons > img {
    height: 16vh;
    width: 9vw;
}

.model{
    display: none;
    visibility: hidden;
}