* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #57d131;
}

main {
    position: absolute;
    width: 90vw;
    height: 85vh;
    left: 10vh;
    top: 8vh;

    background: #F5F5F5;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

#logo {
    height: 19vh;
    width: 10vw;
    margin-left: 2.5vw;
    margin-top: 2vh
}

#person {
    height: 35vh;
    width: 18vw;
    margin-left: -1vw;
    margin-top: 9vh
}

#sairModal{
   height: 5vh;
   position: absolute;
   top: 19vh;
   left: 15vw;
   cursor: pointer;
}

header>h1 {
    text-align: center;
    padding-top: 1.5vh;
    color: #f5f5f5;
}

.nav1 {
    box-sizing: border-box;

    position: absolute;
    width: 20vw;
    height: 38vh;
    left: 18vw;
    top: 7vh;

    background: #F5F5F5;
    border: 1px solid #B9E937;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

.nav1_1 {
    box-sizing: border-box;

    position: absolute;
    width: 20vw;
    height: 36vh;
    left: 0vw;
    top: 40vh;

    background: #F5F5F5;
    border: 1px solid #B9E937;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

#headersVeiculos,
#headersManutencao,
#headersOperacao,
#headersMotoristas {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1vh;
    font-size: 17pt;
    font-weight: 500;
}

select {
    border: #f5f5f5;
    border-radius: 25px;
    width: 7vw;
    height: 5vh;
    background-color: #B9E937;
}

input {
    border: 1px solid #B9E937;
    border-radius: 25px;
    width: 10vw;
    height: 3vh;
}

#filtro {
    margin-right: 0.5vw;
    margin-top: 1.5vh;
}

label {
    color: #289507;
    font-weight: 700;
}

.listarOperacoes>p,
.listarManutencao>p {
    margin: 7px;
}

.listarVeiculos>p,
.cloneModalMotoristas>p {
    margin: 2.5px;
}


button {
    border: #f5f5f5;
    border-radius: 25px;
    width: 5vw;
    height: 5vh;
    background-color: #B9E937;
    cursor: pointer;
}


#busca,
#buscaOperacao {
    display: flex;
    justify-content: end;
    margin-right: 1vw;
    margin-top: 2vh;

}

.ListarVeiculos {
    width: 12vw;
    height: 22vh;
    overflow-y: scroll;
    border-radius: 25px;
    text-align: center;
    background: #F5F5F5;
    margin-left: 3.8vw;
    margin-top: 1vh;
    border: 1px solid #B9E937;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* .listarMotoristas {
    width: 12vw;
    height: 20vh;
    overflow-y: scroll;
    border-radius: 25px;
    text-align: center;
    background: #F5F5F5;
    margin-left: 5vw;
    margin-top: 1vh;
    padding-top: 3vh ;
    border: 1px solid #B9E937;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */

/* .listarVeiculos {
    height: 18vh;
    width: 8vw;
    border-radius: 25px;
    text-align: center;
    background: #F5F5F5;
    margin-left: 5vw;
    margin-top: 1vh;
    padding-top: 3vh ;
    border: 1px solid #B9E937;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */

.listarManutencao,
.listarMotoristas,
.listarOperacoes,
.listarVeiculos p, label {
    margin-bottom: 1vh;
    text-align: center;
}



.nav2 {
    box-sizing: border-box;

    position: absolute;
    width: 22vw;
    height: 74vh;
    left: 35vw;
    top: 7vh;

    background: #F5F5F5;
    border: 1px solid #B9E937;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

.ListarManutencoes {
    width: 16vw;
    height: 55vh;
    overflow-y: scroll;
    border-radius: 25px;
    text-align: center;
    background: #F5F5F5;
    margin-left: 3vw;
    margin-top: 1vh;
    border: 1px solid #B9E937;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.listarManutencao {
    height: 40vh;
    width: 12vw;
    border-radius: 25px;
    text-align: center;
    background: #F5F5F5;
    margin-left: 1.8vw;
    margin-top: 1vh;
    padding-top: 3vh ;
    border: 1px solid #B9E937;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.nav3 {
    box-sizing: border-box;

    position: absolute;
    width: 22vw;
    height: 74vh;
    left: 60vw;
    top: 7vh;

    background: #F5F5F5;
    border: 1px solid #B9E937;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

.ListarOperacoes {
    width: 16vw;
    height: 55vh;
    overflow-y: scroll;
    border-radius: 25px;
    text-align: center;
    background: #F5F5F5;
    margin-left: 3vw;
    margin-top: 1vh;
    border: 1px solid #B9E937;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.listarOperacoes {
    height: 40vh;
    width: 12vw;
    border-radius: 25px;
    text-align: center;
    background: #F5F5F5;
    margin-left: 1.8vw;
    margin-top: 1vh;
    padding-top: 3vh ;
    border: 1px solid #B9E937;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#voltar{
    cursor: pointer;
    height: 4vh;
    margin-top: 2vh;
    margin-left: 1vw;
    position: absolute;
}
.nav4 {
    box-sizing: border-box;

    position: absolute;
    width: 3vw;
    height: 74vh;
    left: 86vw;
    top: 7vh;
    border-radius: 16px;
}

h3 {
    text-align: center;
}

.nav4>div {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
    margin-top: 5vh;
    height: 8vh;
    padding-top: 2vh;
    padding-left: 2px;
    width: 4vw;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.nav4 img {
    height: 4vh;
    width: 3vw;
    padding-left: 8px;
    cursor: pointer;
}
 
/* Motorista */
#imgs {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    width: 15vw;
    height: 30vh;
    left: 8vw;
    top: 10vh;

    background: #fff;
    border: 1px solid #B9E937;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

#officeIMG{
    height: 20vh;
    margin-top: 20vh;
}

#OfficePerson{
    height: 35vh;
    width: 18vw;
    margin-left:5.5vw;
    margin-top: 25vh;
}

#imgs>h2 {
    margin-left: 4.2vw;
    margin-top: 2vh;
}

h3{
    text-align: center;
    margin-top: 2vh;
}

header>h1 {
    text-align: center;
    padding-top: 1.5vh;
    color: #f5f5f5;
}

.alinhar{
    display: flex;
    flex-direction: row;
}

.nav1 {
    box-sizing: border-box;

    position: absolute;
    width: 20vw;
    height: 70vh;
    left: 30vw;
    top: 8vh;

    background: #F5F5F5;
    border: 1px solid #B9E937;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}



.nav1_1 {
    box-sizing: border-box;

    position: absolute;
    width: 20vw;
    height: 70vh;
    left:56vw;
    top: 8vh;

    background: #F5F5F5;
    border: 1px solid #B9E937;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}


select {
    border: #f5f5f5;
    border-radius: 25px;
    width: 7vw;
    height: 5vh;
    background-color: #B9E937;
}

input {
    border: 1px solid #B9E937;
    border-radius: 25px;
    width: 10vw;
    height: 3vh;
}

#filtro {
    margin-right: 0.5vw;
    margin-top: 1.5vh;
}

label {
    color: #289507;
    font-weight: 700;
}



.listarVeiculos>p,
.cloneModalMotoristas>p {
    margin: 2.5px;
}


button {
    border: #f5f5f5;
    border-radius: 25px;
    width: 5vw;
    height: 5vh;
    background-color: #B9E937;
    cursor: pointer;
}


#busca{
    display: flex;
    justify-content: end;
    margin-right: 1vw;
    margin-top: 2vh;

}

.ListarVeiculos {
    width: 14vw;
    height: 45vh;
    overflow-y: scroll;
    border-radius: 25px;
    text-align: center;
    background: #F5F5F5;
    margin-left: 3vw;
    margin-top: 4vh;
    border: 1px solid #B9E937;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.listarMotoristas {
    width: 14vw;
    height: 45vh;
    overflow-y: scroll;
    border-radius: 25px;
    text-align: center;
    background: #F5F5F5;
    margin-left: 3vw;
    margin-top: 4vh;
    padding-top: 2vh ;
    padding-left: 1vw;
    text-align: center;
    border: 1px solid #B9E937;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.listarVeiculos {
    height: 18vh;
    width: 8vw;
    border-radius: 25px;
    text-align: center;
    background: #F5F5F5;
    margin-left: 3vw;
    margin-top: 1vh;
    border: 1px solid #B9E937;
    padding-top: 2vh ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cloneModalMotoristas {
    height: 18vh;
    width: 8vw;
    border-radius: 25px;
    text-align: center;
    padding: 30px;
    background: #F5F5F5;
    margin-left: 1.8vw;
    margin-top: 1vh;
    border: 1px solid #B9E937;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


#sairModal{
    position: absolute;
    height: 5vh;
    margin-left: 4vw;
    margin-top: -7vh;
}

#imgEditar {
    height: 3vh;
    margin-top: 1vh;
}



.nav4R {
    box-sizing: border-box;

    position: absolute;
    width: 3vw;
    height: 74vh;
    left: 86vw;
    top: 7vh;
    border-radius: 16px;
}

h3 {
    text-align: center;
}

.nav4R>div {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
    margin-top: 5vh;
    height: 8vh;
    padding-top: 2vh;
    padding-left: 2px;
    width: 4vw;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.nav4R img {
    height: 4vh;
    width: 3vw;
    padding-left: 8px;
    cursor: pointer;
}

.model {
    display: none;
    visibility: hidden;
}


::-webkit-scrollbar-track {
    background-color: #f4f4f4;
    border-radius: 8px;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
    
}
::-webkit-scrollbar-thumb {
    background: #dad7d7;
    border-radius: 8px;
}


@media(max-width: 1115px) {
    body {
        width: auto;
    }

    .listarManutencao,
    .listarVeiculos,
    .listarOperacoes,
    .cloneModalMotoristas{
        height: auto;
    }
}

@media(max-width: 1366px) {
    body {
        width: auto;
    }

    .listarManutencao,
    .listarVeiculos,
    .listarOperacoes,
    .cloneModalMotoristas{
        height: auto;
    }
} 