* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #6096b4;
}

main {
    position: absolute;
    width: 1308px;
    height: 850px;
    left: 67px;
    top: 96px;

    background: #F5F5F5;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    
}

.nav1 {
    width: 15vw;
    background-color: #eee9da91;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.nav2 {
    width: 55vw;
    background-color: #bdcdd68e;

}

.nav3 {
    width: 20vw;
    background-color: #93bfcf;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}