*{
    margin: 0;
    padding: 0;
}

.banner{
    background-color: rgb(230, 155, 64);
    width: 100vw;
    height: 50px;
    text-align: center;
}

.banner > p{
    padding: 10px;
    font-size: 20px;
}

.botoes > input{
  margin: 10px;
}

.botoes{
    margin: 0px 10vw;
}
.botos{
    margin: 2vh 10vw 5px 7vw; 
    padding: 10px;;
    
}
input{
    width: 10vw;
    border-radius: 10px;
    height: 3vh;
}

.model{
    display: none;
}
table{
    align-items: center;
    border: 1px solid black;
}

td, th{
    border: 1px solid rgba(0, 0, 0, 0.144);
    border-collapse: collapse;

}
td {
    padding: 20px;
}


 a{
    padding: 10px;
    background-color: antiquewhite;
}

img{
    margin: 30vh 45vw;
}