* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #8b4513;
    height: 20vh;
    width: 100;
}

main {
    height: 90vh;
    width: 100vw;
    background-color: #6a2f05;
    padding: 12vh 35vw;
}

#imgCafe{
    margin-left: 35vw;
    height: 20vh;
    width: 30vw;
}