*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #6096b4;
}

main{
    width: 90vw;
    height: 90vh;
    display: flex;
    margin-left: 5vw;
    margin-top: 5vh;
    border-radius: 25px;
}

.nav1{
    width: 15vw;
    background-color: #eee9da91;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.nav2{
    width: 55vw;
    background-color: #bdcdd68e;
    
}

.nav3{
    width:20vw;
    background-color: #93bfcf;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}