*{
    padding: 0;
    margin: 0;
    
}

body{
    text-align: center;
    background: linear-gradient( rgb(247, 113, 98),rgb(250, 120, 106), white);
    background-repeat: no-repeat;
    height: 100%;
}
header{
    background-color :salmon;
    height: 10vh;
    text-align: center;  
    color: white;
    padding-top: 10px;  
}

.botoes{
    background-color: rgb(246, 115, 85);
    display: flex;
    justify-content: space-evenly;
    box-shadow: 1px 1px 1px 1px rgba(246, 110, 110, 0.411);
}
.model{
    display: none;
    visibility: hidden;
}

button{
    padding: 10px;
    border-radius: 10px;
}

button:hover{
    background-color: rgb(238, 83, 111);
    color:white;
    cursor: pointer;
}

button a:hover{
    background-color: rgb(238, 83, 111);
    color:white;
    cursor: pointer;
}

.tabela_principal{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 15px 0 0px;
}

td, th{
    border: 1px solid rgba(0, 0, 0, 0.144);
    border-collapse: collapse;
    padding: 10px;
}

a{
    text-decoration: none;
    color: black;
}

main{
    margin: 5% 25%;
    
    
}

input{
    padding: 8px;
    border-radius: 10px;
}

img{
    height: 28vh;
    width: 15vw;
    border-radius: 50px;
    margin: 1px
}