* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100vw;
    height: 8vh;
    background-color: #44babc8a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header>div {
    display: flex;
    margin-right: 3vw;
    align-items: center;
}

h2 {
    color: #35797d;
}

#imgSair {
    margin-left: 3vw;
    height: 3vh;
}

body {
    background-color: #cce2e2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#p {
    font-size: 30pt;
    color: #35797d;
    font-weight: 0;
    text-align: center;

}

label {
    color: #fff;
    height: 10vh;
    width: 10vh;
    padding: 1vh 0 1vh 1vw;
    background-color: #44babc;
}


.equipamentos {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 65vw;
    margin-top: 3vh;

}

.equipamentos>div {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 1vw;

}

.equipamentos>div>p {
    word-wrap: break-word;
    margin: 1vh;
}

#img {
    height: 18vh;
    border: 1px solid #44babc;
}

img {
    height: 3vh;
    cursor: pointer;
}

.modalExclusão, .cadastrarEquipamento {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: #cce2e2c6;
}

.modalExclusão>div, .modalCadastrarComentario>div {
    position: absolute;
    height: 25vh;
    width: 38vw;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    top: 30vh;
    left: 15vw;
}

#fechar,
#fecharComentario {
    position: absolute;
    left: 35vw;
    top: 5vh;
    cursor: pointer;
}

.comentariosV{
    width: 35vw;
    padding:3vh;
    margin-left: 10.5vw;
    border: 1px solid black
    /* margin-bottom: -1vh; */
    
}

#comentarioTexto{
    margin-right: 32vh;
    text-align: center;
    font-size: 16pt;
    position: initial;
    top: 3vh;
    margin-top: 45vh;
    margin-left: 0vw;
    bottom: 16vh;
    

}

#perfil{
    margin-right: 17vw;
    margin-bottom: 2vh;
    color: #bacccc;
}

#excluir {
    padding: 10px;
    width: 5vw;
    background-color: red;
    border: none;
    color: #fff;
    margin-right: 25vw;
    border-radius: 15px;
    margin-top: 2vh;
    cursor: pointer;
}


.modalComentario,.modalCadastrarComentario {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: #cce2e2c6;
    
}

.modalComentarioVizualização{
    padding-right: 12vw ;
    height: 20vh;
    overflow-y:scroll;
    
}

.modalComentario>div, .cadastrarEquipamento>div {
    position: absolute;
    height: 60vh;
    width: 40vw;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    top: 15vh;
    left: 15vw;
}

#Adicionar {
    position: absolute;
    padding: 10px;
    width: 12vw;
    background-color: #44babc;
    border: none;
    color: #fff;
    right: 24vw;
    border-radius: 15px;
    top: 50vh;
    cursor: pointer;
}

#cadastrar {
    position: absolute;
    padding: 10px;
    width: 12vw;
    background-color: #44babc;
    border: none;
    color: #fff;
    right: 23vw;
    border-radius: 15px;
    top: 20vh;
    cursor: pointer;
}

input{
    width: 30vw;
    height: 5vh;
    border: none;
    border-bottom: 1px solid black;
}

#cadastrarEquipamento {
    position: absolute;
    padding: 10px;
    width: 12vw;
    background-color: #44babc;
    border: none;
    color: #fff;
    right: 22vw;
    border-radius: 15px;
    top: 43vh;
    cursor: pointer;
}

.cadastrarEquipamento > div> div {
    display: flex;
    margin-right: 40vw;
    margin-top: 1vh;
}

.cadastrarEquipamento > div> div> input {
    margin-right: -14vw;
    margin-top: -2px;
}

#Ativo{
    height: 2vh;
}

.model {
    display: none;
    visibility: hidden;
}