* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    /* box-shadow: 2px 2px 2px 2px #515151; */
    /* margin-top: 12vh; */
    /* margin-left: 57vw; */
    width: 100vw;
    height: 40vh;

    border-radius: 25px;

}

#info{
    color: red;
    font-weight: 600;
    margin-bottom:0vh;
}
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48vh;
    gap: 20px;
}

/* #entrar {
    padding-top: 2vh;
    padding-left: 2vw;
} */

nav>p {
    margin-top: 2vh;
    margin-bottom: 7vh;
}

#img {
    margin-left: 19vw;
    height: 18vh;
    border-radius: 25px;
    position: absolute;
    top: 22%;
}


header>h1 {
    position: absolute;
    top: 10vh;
    left: 44vw;
    color: #fff;
    font-size: 35pt;
    font-weight: 600;
}


.oi {
    /* height: 10vh; */
    background-color: #8b4513;
    position: relative;
    top: 0vh;
}

svg {
    position: absolute;
    top: 0%;
    width: 124vw;
    transition: top .5s;
}

.descendo {
    animation: uiii 12s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite, swell 8s ease -1.25s infinite;
}

.pause {
    animation-play-state: paused;
}

path {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/756881/wavePurple.svg) repeat-x;
    width: 6400px;
    height: 150vh;
    animation: wave 12s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite, swell 8s ease -1.25s infinite;
    transform: translate3d(0, 0, 0);
}

@keyframes uiii {
    0% {
        top: -100vh
    }

    100% {
        top: 100vh;
    }
}

@keyframes wave {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -1600px;
    }
}

@keyframes swell {

    0%,
    100% {
        transform: translate3d(0, -60px, 0);
    }

    50% {
        transform: translate3d(0, -10px, 0);
    }
}

.endWave {
    display: none;
}

#headerLogo {
    position: absolute;
    top: -1vh;
    left: 75vw;
    height: 5vh;
    border-radius: 25px;
}

#grao_cafe {
    height: 5vh;
    margin-left: 26vw;
    margin-top: 20vh;
}

#grao_cafe2 {
    height: 5vh;
    margin-right: 26vw;
    margin-top: -3vh;
}

#newCadastro {
    /* margin-top: 4vh; */
    text-align: center;
}

button {
    border-radius: 25px;
    border: none;
    background-color: #8b4513;
    color: white;
    font-weight: 600;
    padding: 1vh;
    margin-top: 2vh;
    margin-left: 4vw;
    width: 18vw;
}

input {
    border-radius: 25px;
    border: none;
    box-shadow: 2px 1px 2px 2px #8b4513;
    padding: 1vh;
    margin-left: 1vw;
    width: 55vw;
}

label {
    color: sienna;
    font-weight: 700;
}

.esqueceSenha, .cadastrarNovo{
    position:absolute;
    height:100%;
    top:0;
    /* padding-top:10vh; */
    width:100vw;
    background-color: #ffffff;
    border: 1px solid #8b4513;
}

.esqueceSenha>div>p,
 .cadastrarNovo>div>p{
    margin-top:1vh;
    text-align: center;
    color:#8b4513;
    font-weight: 600;
    font-size:16pt;
}

#comando{
    color:#733203;
    font-weight: 600;
    font-size:12pt;
    margin-bottom:2vh;
    margin-top:8vh;
    
}

.esqueceSenha>div>img,
.cadastrarNovo>div>img{
    height:20vh;
    width:40vw;
    margin-left:30vw;
    margin-top:5vh;
    margin-bottom:2vh;
    border-radius:10px;
}

.esqueceSenha>div>input,
.cadastrarNovo>div>input{
    margin-left:22vw;
    margin-top:2vh;
    margin-bottom:2vh;
}

#enviarSenha{
    border-radius: 25px;
    border: none;
    background-color: #8b4513;
    color: white;
    font-weight: 600;
    padding: 1vh;
    margin-top: 3vh;
    margin-left: 40vw;
    width: 20vw;
}

#voltar{
    margin-top:1vh;
    text-align:left;
    margin-left:2vw;
    color:#8b4513;
    font-weight: 600;
    font-size:16pt;
}

.model{
    display:none;
    visibility:hidden;
}