* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    box-shadow: 2px 2px 2px 2px #515151;
    margin-top: -62vh;
    margin-left: 57vw;
    width: 30vw;
    height: 40vh;

    border-radius: 25px;

}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7vh;
    gap: 20px;
}

#entrar {
    padding-top: 2vh;
    padding-left: 2vw;
}

nav>p {
    margin-top: 2vh;
}

#img {
    margin-left: 5vw;
    height: 40vh;
    border-radius: 25px;
    position: absolute;
    top: 38%;
}

header>h1 {
    position: absolute;
    top: 10vh;
    left: 44vw;
    color: #fff;
    font-size: 35pt;
    font-weight: 600;
}

.oi {
    height: 100vh;
    background-color: #8b4513;
    position: relative;
    top: -100vh;
}

svg {
    position: absolute;
    top: 100%;
    transition: top .5s;
}

.descendo {
    animation: uiii 12s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite, swell 8s ease -1.25s infinite;
}

.pause {
    animation-play-state: paused;
}

path {
    /* background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/756881/wavePurple.svg) repeat-x; */

    /* width: 6400px; */
    /* height: 100vh; */
    animation: wave 12s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite, swell 8s ease -1.25s infinite;
    transform: translate3d(0, 0, 0);
}

@keyframes uiii {
    0% {
        top: -100vh
    }

    100% {
        top: 100vh;
    }
}

@keyframes wave {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -1600px;
    }
}

@keyframes swell {

    0%,
    100% {
        transform: translate3d(0, -60px, 0);
    }

    50% {
        transform: translate3d(0, -10px, 0);
    }
}

.endWave {
    display: none;
}

#headerLogo {
    position: absolute;
    top: 2vh;
    left: 90vw;
    height: 15vh;
    border-radius: 25px;
}

#grao_cafe {
    height: 5vh;
    margin-left: 26vw;
    margin-top: -10vh;
}

#grao_cafe2 {
    height: 5vh;
    margin-right: 26vw;
    margin-top: -3vh;
}

#newCadastro {
    margin-top: 4vh;
    text-align: center;
}

button {
    border-radius: 25px;
    border: none;
    background-color: #8b4513;
    color: white;
    font-weight: 600;
    padding: 1vh;
    margin-top: 1vh;
    width: 10vw;
}

input {
    border-radius: 25px;
    border: none;
    box-shadow: 2px 1px 2px 2px #8b4513;
    padding: 1vh;
    margin-left: 1vw;
    width: 15vw;
}

label {
    color: sienna;
    font-weight: 700;
}