*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #515151;
    height: 5vh;
    width: 100vw;
}

main{
    box-shadow: 2px 2px 2px 2px #515151;
    margin-top: 25vh;
    margin-left: 3vw;
    width: 90vw;
    height: 30vh;

    border-radius: 25px;
    
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    gap: 20px;
}

input{
    border-radius: 25px;
    border: none;
    border-bottom: 1px solid #000;
    padding: 1vh;
}

label{
    color: sienna;
    font-weight: 600;
}

