body{
    align-items: center;
    text-align: center;
    background-color: rgba(127, 255, 212, 0.247);
}

#cabecalho {
    font: normal 10pt arial;

}
#div2{
    border: 2px solid black;
    width: 40vw;
    height: 30vh;
    text-align: center;
    margin: 5vh 29vw;
    background-color: rgb(255, 255, 255);
    border: 4px groove;


}

#div2 img{
    width: 40px;
   margin-left: 37vw;
}

#div2:hover{
    
   text-decoration: underline dotted rgba(47, 0, 255, 0.432);
    background-color: rgba(0, 0, 255, 0.164);
    color: rgb(0, 0, 0);
    font:normal 10pt italic;
    border: dashed;
    cursor: grabbing;
    
}