 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     background-color: #57d131;
 }

 main {
     position: absolute;
     width: 90vw;
     height: 85vh;
     left: 10vh;
     top: 8vh;

     background: #F5F5F5;
     box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 25px;
 }

 .nav1 {
     box-sizing: border-box;

     position: absolute;
     width: 20vw;
     height: 38vh;
     left: 4vw;
     top: 7vh;

     background: #F5F5F5;
     border: 1px solid #B9E937;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 25px;
 }

 .nav1_1 {
     box-sizing: border-box;

     position: absolute;
     width: 20vw;
     height: 36vh;
     left: 0vw;
     top: 40vh;

     background: #F5F5F5;
     border: 1px solid #B9E937;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 25px;
 }

 #headersVeiculos,
 #headersManutencao,
 #headersOperacao,
 #headersMotoristas {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     margin-top: 1vh;
     margin-left: 5vw;
 }

 select {
     border: #f5f5f5;
     border-radius: 25px;
     width: 7vw;
     height: 5vh;
     background-color: #B9E937;

 }

 button {
     border: #f5f5f5;
     border-radius: 25px;
     width: 5vw;
     height: 5vh;
     background-color: #B9E937;

 }

 #busca,
 #buscaOperacao {
     display: flex;
     justify-content: end;
     margin-right: 1vw;
     margin-top: 2vh;

 }

 .ListarVeiculos {
     width: 12vw;
     height: 22vh;
     overflow-y: scroll;
     border-radius: 25px;
     text-align: center;
     background: #F5F5F5;
     margin-left: 3.8vw;
     margin-top: 1vh;
     border: 1px solid #B9E937;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }

 .listarMotoristas {
     width: 12vw;
     height: 20vh;
     overflow-y: scroll;
     border-radius: 25px;
     text-align: center;
     background: #F5F5F5;
     margin-left: 3.8vw;
     margin-top: 1vh;
     border: 1px solid #B9E937;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }

 .listarVeiculos {
     height: 18vh;
     width: 8vw;
     border-radius: 25px;
     text-align: center;
     background: #F5F5F5;
     margin-left: 1.8vw;
     margin-top: 1vh;
     border: 1px solid #B9E937;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }

 .cloneModalMotoristas {
     height: 18vh;
     width: 8vw;
     border-radius: 25px;
     text-align: center;
     background: #F5F5F5;
     margin-left: 1.8vw;
     margin-top: 1vh;
     border: 1px solid #B9E937;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }

 .nav2 {
     box-sizing: border-box;

     position: absolute;
     width: 20vw;
     height: 74vh;
     left: 28vw;
     top: 7vh;

     background: #F5F5F5;
     border: 1px solid #B9E937;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 25px;
 }

 .ListarManutencoes {
     width: 14vw;
     height: 55vh;
     overflow-y: scroll;
     border-radius: 25px;
     text-align: center;
     background: #F5F5F5;
     margin-left: 3vw;
     margin-top: 1vh;
     border: 1px solid #B9E937;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }

 .listarManutencao {
     height: 40vh;
     width: 10vw;
     border-radius: 25px;
     text-align: center;
     background: #F5F5F5;
     margin-left: 1.8vw;
     margin-top: 1vh;
     border: 1px solid #B9E937;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }

 .nav3 {
     box-sizing: border-box;

     position: absolute;
     width: 20vw;
     height: 74vh;
     left: 52vw;
     top: 7vh;

     background: #F5F5F5;
     border: 1px solid #B9E937;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 25px;
 }

 .ListarOperacoes {
     width: 14vw;
     height: 55vh;
     overflow-y: scroll;
     border-radius: 25px;
     text-align: center;
     background: #F5F5F5;
     margin-left: 3vw;
     margin-top: 1vh;
     border: 1px solid #B9E937;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }

 .listarOperacoes {
     height: 40vh;
     width: 10vw;
     border-radius: 25px;
     text-align: center;
     background: #F5F5F5;
     margin-left: 1.8vw;
     margin-top: 1vh;
     border: 1px solid #B9E937;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }

 .nav4 {
     box-sizing: border-box;

     position: absolute;
     width: 10vw;
     height: 74vh;
     left: 76vw;
     top: 7vh;

     background: #F5F5F5;
     border: 1px solid #B9E937;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 25px;
 }

 .nav4>div>button {
     border: #f5f5f5;
     border-radius: 25px;
     width: 8vw;
     height: 8vh;
     background-color: #B9E937;
 }

 h3 {
     text-align: center;
 }

 .relatorios {
     display: flex;
     flex-direction: column;
     gap: 12px;
     padding-left: 1vw;
 }


 /*
header{
    height: 8vh;
    width: 90vw;
    position: relative;
    top: 5vh;
    left: 5vw;
    background-color: #eee9dab1;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    
}

main{
    width: 90vw;
    height: 80vh;
    display: flex;
    margin-left: 5vw;
    margin-top: 5vh;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #eee9da91;
}

.nav1{
    width: 15vw;
    background-color: #eee9da91;
    border-bottom-left-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1vw;
    gap: 5vw;
    padding-top: 2vh;
}

.nav1> div{
    height: 30vh;
    width: 14vw;
    background-color:  #eee9dab1;
    border-radius: 25px;
    text-align:center;   
}

.nav2{
    width: 55vw;
    background-color: #eee9da91;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-top: 2vh;
    
}

.nav2> div{
    height: 30vh;
    width: 14vw;
    background-color: #eee9dab1;
    border-radius: 25px;
    text-align:center;   
}

.nav3{
    width:8vw;
    background-color:  #b2933791;
    border-bottom-right-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 2vh;
}

.nav3> div{
    height: 5vh;
    width: 8vw;
    background-color: #eee9dab1;
    border-radius: 25px;
    text-align:center;   
    margin-left: 23vw;
    text-align: center;
    padding-top: 1vh;
}
.model{
    display: none;
    visibility: hidden;
}

#headerMotoristas,
#headerFrotas,
#headersManutencao,
#headersVeiculos{
    height: 3vh;
    padding-left: 25px;
    margin-top: 1vh;
    box-shadow: 2px 2px 2px #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

#funcoesMotoristas,
#funcoesFrotas,
#funcaoVeiculos{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 60px;
    gap: 10px;
}

.cadastrarMotorista,
.alterarMotorista,
.deletarMotorista{
    height: 10vh;
    width: 10vw;
    margin-top: 22vh;
    margin-left: -10vw;
}

.cadastrarFrotas,
.alterarFrotas,
.deletarFrotas{
    height: 10vh;
    width: 10vw;
    margin-top: 22vh;
    margin-left: -10.2vw;
}

.listarFrotas{
    height: 20vh;
    width: 14vw;
    margin-top: 26vh;
    margin-left: -7vw;
    overflow-y: scroll;
}

.listarMotoristas{
    height: 14vh;
    width: 14vw;
    margin-top: 26vh;
    margin-left: -8vw;
    overflow-y: scroll;
}

.ListarManutencoes{
    height: 20vh;
    width: 15vw;
    margin-top: 2vh;
    margin-left: -1vw;
    overflow-y: scroll;
}

.ListarOperacoes{
    height: 20vh;
    width: 15vw;
    margin-top: 2vh;
    margin-left: -1vw;
    overflow-y: scroll;
}

.ListarVeiculos{
    height: 20vh;
    width: 15vw;
    margin-top: 2vh;
    margin-left: -1vw;
    overflow-y: scroll;
}



input{
    border-radius: 25px;
    border: none;
    width: 11vw;
    box-shadow:2px 2px 2px #fff;
    margin-top: 1vh;
}
label{
    color: #5e79f2;
}
#buscarFrotas,
#buscarMotoristas, 
#buscarManutencao,
#buscarVeiculos{
    width: 9vw;
    position: fixed;
    margin-left: -5vw;
    margin-top: -0.5vh;
    margin-bottom: 1vh;
}

button{
    border-radius: 25px;
    border-color: #fff;
    padding: 10px;
    margin-top: 1.5vh;
    cursor: pointer;
}

#estilizando{
    box-shadow: 2px 2px 2px #fff;
    height: 16vh;
    width: 12vw;
    margin-left:3vw;
    border-radius: 25px;
    padding-top: 10px;
}

#estilizando > input, button{
    margin-bottom: 6px;
}

.cloneModal,
.cloneModalMotoristas,
.listarVeiculos{
    box-shadow: 2px 2px 2px #fff;
    height: 18vh;
    width: 10vw;
    margin-left:2vw;
    border-radius: 25px;
    padding-top: 10px;
    margin-top: 1vh;
}

.listarManutencao {
    box-shadow: 2px 2px 2px #fff;
    height: 30vh;
    width: 10vw;
    margin-left:2vw;
    border-radius: 25px;
    padding-top: 10px;
    margin-top: 1vh;
}

.listarOperacoes {
    box-shadow: 2px 2px 2px #fff;
    height: 30vh;
    width: 10vw;
    margin-left:2vw;
    border-radius: 25px;
    padding-top: 10px;
    margin-top: 1vh;
}


#imgEditar, #newMoorista, #newFrota, #newManutencao, #newOperação, #newVeiculo{
    height: 3vh;
    margin-top: 2px;
    margin-left: 12px;

} */