* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #8b4513;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #d2691e;
    align-items: center;
    padding-top: 20px;
}

.slogan {
    display: flex;
    flex-direction: column;
}

.procurar > img{
    position: absolute;
    left: 11.5vw;
}

.procurar> input{
    width: 35vw;
    height: 6vh;
    border-radius: 20px;
    outline: 0;
    border: none;
    background-color:#512303;
    box-shadow: 2px 2px 2px 2px #522f16;
    color: #fff;
    margin: 2vh 33vw;
    
    
}
