* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

main {
    background-color: #152d73;
    height: 100vh;
    padding: 20vh 20vw;
}

nav{
    display: flex;
}
.imgOnibus {
    width: 30vw;
    margin: -29px 30vw 0px -13vw;
    padding-top: 40px;
}

.porta {
    position: absolute;
    width: 2.4vw;
    height: 21vh;
    background-color: yellow;
    top: 43.5vh;
    left: 25.3vw;
    border-radius: 10px 50px 14px 11px;
    animation-name: portinha;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index: 0;
}


.porta1 {
    position: absolute;
    width: 2.4vw;
    height: 21vh;
    background-color: yellow;
    top: 43.5vh;
    left: 25.3vw;
    border-radius: 10px 50px 14px 11px;
    animation-name: portinha1;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index:0;   
}
@keyframes portinha{
    100%{
        opacity: 1;
        right: 20px;
        background-color:black;
    }
}

@keyframes portinha1{
    100%{
        opacity: 1;
        left: 23.5vw;
    }
}


.dados{
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 61vh;
    padding-top: 30px;
    background-color: #60a5fa;
    position: absolute;
    left: 55vw;
    top: 26vh;
    gap: 6px;
    border-radius: 10px;
    text-align: center;
    color: #000000;

}

.dados > input{
    width: 20vw;
    height: 8vh;
    border-radius: 10px;
    margin-left:60px;
    background-color: #d4d4d8;
    color: #000000;
}

p{
    color: white;
    
}
input::placeholder{
    color:rgb(0, 0, 0);
}

#btnCompra{
    border-radius: 15px;
    width: 10vw;
    height: 10vh;
    margin: 20px 10vw;
    background-color:#d4d4d8;
     
}

#btnCompra:hover{
    cursor:pointer;

}