* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #57d131;
}
#voltar{
    cursor: pointer;
    height: 4vh;
    margin-top: 2vh;
    margin-left: 1vw;
    position: absolute;
}

main {
    position: absolute;
    width: 90vw;
    height: 85vh;
    left: 10vh;
    top: 8vh;

    background: #F5F5F5;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

#imgs {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    width: 15vw;
    height: 30vh;
    left: 30vw;
    top: 7.5vh;

    background: #f5f5f5;
    border: 1px solid #B9E937;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

#officeIMG{
    height: 18vh;
    width: 10vw;
    margin-top: 15vh;
    margin-left: 8vw;
}

#imgs>h2 {
    margin-left: 5.2vw;
    margin-top: 2vh;
}

#logo {
    height: 15vh;
    width: 8vw;
    margin-left: 5vw;
    margin-top: 8vh
}

#person {
    height: 35vh;
    width: 18vw;
    margin-left:5.5vw;
    margin-top: 7vh;
}

.btnCadastrar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 4vh;
}

.imagensLogo > h3{
    text-align: center;
    margin-left: -64vw;
    font-weight: 700;
    font-size: 18pt;
    margin-top: 1vh;
}

header>h1 {
    text-align: center;
    padding-top: 1.5vh;
    color: #f5f5f5;
}

.alinhar{
    display: flex;
    flex-direction: row;
}


#headersusuario {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1vh;
}


input {
    border: 1px solid #B9E937;
    border-radius: 8px;
    margin-top: 1vh;
    width: 10vw;
    height: 3vh;
}


label {
    color: #289507;
    font-weight: 700;
}

.listarUser>p{
    margin: 2.5px;
}


button {
    border: #f5f5f5;
    border-radius: 10px;
    width: 5vw;
    height: 5vh;
    background-color: #B9E937;
    cursor: pointer;
}


.listarUser {
    width: 19vw;
    height: 65vh;
    overflow-y: scroll;
    border-radius: 25px;
    text-align: center;
    background: #F5F5F5;
    margin-left: 3vw;
    margin-top: 4vh;
    border: 1px solid #B9E937;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.usuarios {
    height: 35vh;
    width: 15vw;
    border-radius: 25px;
    text-align: center;
    background: #F5F5F5;
    margin-left: 2vw;
    margin-top: 1vh;
    padding-top: 3vh;
    border: 1px solid #B9E937;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.usuarios p, label{
    margin-top: 2px;
    margin-bottom: 4px;
}

.deletarUser {
    width: 19vw;
    height: 34vh;
    border-radius: 25px;
    text-align: center;
    background: #F5F5F5;
    margin-left: 3vw;
    margin-top: 6vh;
    padding-top: 11vh;
    border: 1px solid #B9E937;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#sairModal{
    position: absolute;
    height: 5vh;
    margin-left: 6vw;
    margin-top: -7vh;
}

#btnDeletarUser{
    margin-top: 2vh;
    cursor: pointer;
}

#imgEditar {
    height: 3vh;
    margin-top: 1vh;
}


.nav1_1 {
    box-sizing: border-box;

    position: absolute;
    width: 25vw;
    height: 74vh;
    left: 22vw;
    top: 0vh;

    background: #F5F5F5;
    border: 1px solid #B9E937;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}


/* .cadastrar {
    height: 40vh;
    width: 15vw;
    border-radius: 25px;
    text-align: center;
    background: #F5F5F5;
    margin-left: 1.8vw;
    margin-top: 1vh;
    padding-top: 10vh;
    padding-left: 1vw;
    border: 1px solid #B9E937;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */




.nav4 {
    box-sizing: border-box;

    position: absolute;
    width: 3vw;
    height: 74vh;
    left: 56vw;
    top: 7vh;
    border-radius: 16px;
}

h3 {
    text-align: center;
    margin-top: 1vh;
}

.nav4>div {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
    margin-top: 5vh;
    height: 8vh;
    padding-top: 2vh;
    padding-left: 2px;
    width: 4vw;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.nav4 img {
    height: 4vh;
    width: 3vw;
    padding-left: 8px;
    cursor: pointer;
}

#sairModal{
    height: 3vh;
    cursor: pointer;
}
#sairModalUser{
    height: 3vh;
    cursor: pointer;
    margin-left: 8vw;
    margin-bottom: 1vh;
}

.model {
    display: none;
    visibility: hidden;
}

#estilizandoUser{
    margin-left: 3vw;
    margin-top: 2vh;

}

#cadastrarNewUser{
    margin-top: 2vh;
    margin-left: 2.2vw;
}

.imagensLogo{
    display: flex;
    flex-direction: column;

}

::-webkit-scrollbar-track {
    background-color: #f4f4f4;
    border-radius: 8px;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
    
}
::-webkit-scrollbar-thumb {
    background: #dad7d7;
    border-radius: 8px;
}

@media(max-width: 1115px) {
    body {
        width: auto;
    }

    .listarUser{
        height: auto;
    }
}

@media(max-width: 1365px) {
    body {
        width: auto;
    }

    .listarUser{
        height: auto;
        width: 10vw;
    }
}