 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     background-color: black;
     font: normal 14pt arial;
     color: #fff;
 }

 i {
    font-size: 25px;
    margin-right: 0.5vw;
    margin-top: 3px;
    cursor: pointer;
}

 header {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     background-color: #000;
     height: 7vh;
     position: fixed;
     width: 100vw;
    transition: opacity 0.2s;
    will-change: opacity;

 }

 header>img {
     margin-left: 2vw;
 }

 .funcoes {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     width: 40vw;
     margin-left: 20vw;
     color: #cfcfcf;
 }

 .funcoes > div {
     display: flex;
     width: 20vw;
 }

 .funcoes > div > h4 {
     margin-top: 5px;
 }

.nav1{
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     width: 20vw;
 }

 button{
    font-family: Roboto,Noto Naskh Arabic UI,Arial,sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    display: inline-flex;
    align-items: center;
    height: 32px;
    padding: 0 14px;
    border-radius: 16px;
    background: #fff;
    color: #000;
    text-decoration: none;
    text-transform: none;
 }

 .informacoesAdicionais{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1vw;
 }

 /* body */
 #musica{
    position: absolute;
    display: flex;
    align-items: center;
    margin-top: 15vh;
    margin-left: 10vw;
 }

 .model{
    display: none;
    visibility: hidden;
 }

 .hover{
    position: absolute;
    top: 2vh;
    left: 32vw;
 }

 

 .direito{
    position: absolute;
    margin-top: 17vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 60vw;
    border-bottom: 1px solid #ffffff5a;
 }

 .cabecalho{
    display: flex;
    justify-content: space-evenly;
    width:31.5vw;
    font-family: Roboto,Noto Naskh Arabic UI,Arial,sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffffb7;
    display: inline-flex;
    align-items: center;
    height: 32px;
    padding: 0 14px;
    border-radius: 16px;
    text-decoration: none;
    text-transform: none;
 }

 footer{
    position: absolute;
    height: 7vh;
    width: 100vw;
    background-color:rgb(33, 33, 33);
    margin-top: 93vh;
    border-top: 1px solid #ffffffa1;
 }

 footer nav{
    display: flex;
    align-items: center;
    margin-top: 0.5vh;
    margin-left: 1vw;
 }

 footer > nav > i{
    font-size: 4vh;
 }

 .bx-play{
    font-size: 5vh;
 }

 .tempo{
    position: absolute;
    top: 2.5vh;
    left: 9.5vw;
    font-family: Roboto,Noto Naskh Arabic UI,Arial,sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffffb7;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    text-transform: none;
 }
 .imagens{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    top: 1.5vh;
    left: 35vw;
 }

 .imagens > img {
    height: 4vh;
 }

 .nomeMusic{
    display: flex;
    flex-direction: column;
 }


 .nomeMusic > #musicaC{
    margin-left: 0.6vw ;
    font-family: Roboto,Noto Naskh Arabic UI,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    text-transform: none;
 }

 .nomeMusic > #bandaM{
    margin-left: 0.5vw;
    font-family: Roboto,Noto Naskh Arabic UI,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffffb7;
    align-items: center;
    text-decoration: none;
    text-transform: none;
 }

 .iconsLike{
   margin-left: 2vw;
   margin-top: 1.3vh;
 }

 .icons2{
   margin-top: 1.3vh;
   margin-left: 28vw;
 }

 .icons2>i{
   margin-left: 4px;
 }

 .musicasSemelhantes{
   overflow-y:scroll;
   height: 65vh;
   position: absolute;
   margin-top: 20.3vh;
   margin-left:60vw;
 }

 .nav::-webkit-scrollbar-track {
   background-color: #000000;
   border-radius: 8px;
}

::-webkit-scrollbar {
   width: 4px;
   background: #F4F4F4;
   
}
.nav::-webkit-scrollbar-thumb {
   background: #dad7d7;
   border-radius: 8px;
}


 @media(max-width: 1430px) {
   #musica>img{
      height: 60vh;
   }

   .direito{
      width: auto;
   }
   .musicasSemelhantes > img{
      height: 5vh;
      width: 35vw;
   }
  .icons2{
   margin-left: 14vw;
  }

  .imagens{
   margin-left: -2vw;
  }

  .tempo{
   margin-left: 2vw;
  }

 }

 @media(max-width: 1230px) {
   #musica>img{
      height: 50vh;
   }

   .direito{
      width: auto;
   }
   .musicasSemelhantes > img{
      height: 8vh;
      margin-left: -1vw;
      width: 35vw;
   }
  .icons2{
   margin-left: 14vw;
  }

  .imagens{
   margin-left: -2vw;
  }

  .tempo{
   margin-left: 2vw;
  }

 }