 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     background-color: black;
     font: normal 14pt arial;
     color: #fff;
 }

 i {
    font-size: 25px;
    margin-right: 0.5vw;
    margin-top: 3px;
}

 header {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     height: 8vh;
     border: 1px solid #fff;
 }

 header>img {
     margin-top: -2vh;
     margin-left: 2vw;
 }

 .funcoes {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     width: 40vw;
     margin-left: 20vw;
     color: #cfcfcf;
 }

 .funcoes > div {
     display: flex;
     width: 20vw;
 }

 .funcoes > div > h4 {
     margin-top: 5px;
 }

 nav {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     width: 20vw;
 }