 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     background-color: black;
     font: normal 14pt arial;
     color: #fff;
 }

 i {
    font-size: 25px;
    margin-right: 0.5vw;
    margin-top: 3px;
}

 header {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     background-color: #000;
     height: 7vh;
     /* border: 1px solid #fff; */
     position: fixed;
     width: 100vw;
    transition: opacity 0.2s;
    will-change: opacity;

 }

 header>img {
     margin-left: 2vw;
 }

 .funcoes {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     width: 40vw;
     margin-left: 20vw;
     color: #cfcfcf;
 }

 .funcoes > div {
     display: flex;
     width: 20vw;
 }

 .funcoes > div > h4 {
     margin-top: 5px;
 }

.nav1{
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     width: 20vw;
 }

 button{
    /* padding: 11px;
    text-align: center;
    border-radius: 30px;
    font-weight: 600;
    background-color: #f5f5f5; */
    font-family: Roboto,Noto Naskh Arabic UI,Arial,sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    display: inline-flex;
    align-items: center;
    height: 32px;
    padding: 0 14px;
    border-radius: 16px;
    background: #fff;
    color: #000;
    text-decoration: none;
    text-transform: none;
 }

 .informacoesAdicionais{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1vw;
 }

 /* body */
 #musica{
    position: absolute;
    display: flex;
    align-items: center;
    margin-top: 15vh;
    margin-left: 10vw;
 }

