*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    font: normal 18pt arial black;
    background: linear-gradient( rgb(255, 185, 185), rgb(242, 209, 215), white);
    background-repeat: no-repeat;
}

header{
    width: 100vw;
    height: 50px;
    background-color: rgb(247, 157, 157);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 5px;
}

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 15vh;
    gap: 15vw;
}

button{
    height: 40px;
    border: none;
    width: 10vw;
    border-radius: 10px;
}

img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

#apagar > img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.model{
    display: none;
    visibility: hidden;
}

table{
    font: normal 13pt arial black;
}

td{
    font: normal 13pt black;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

a{
    text-decoration: none;
    color: black;
}

 /* .tela_comen{
    background-color: pink;
    box-shadow: 10px 1px 1px black;
    height: 20vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;

} */

.com{
    height: 100%;
    width: 30%;
    background-color: pink;
    box-shadow: 1px 1px 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30vw;
    margin-top: 10px;
}
 .comentarios{
    margin: 10vh 40vw;
    background-color: rgb(249, 82, 110);

} 