*{
    padding: 0;
    margin: 0;
    
}
body{
    text-align: center;
    background-color: rgba(247, 97, 127, 0.668);
}
header{
    background-color: rgb(242, 83, 125);
    height: 10vh;
    text-align: center;  
    color: white;
    padding-top: 10px;  
}

.botoes{
    background-color: rgb(249, 141, 150);
    display: flex;
    justify-content: space-evenly;
}
.model{
    display: none;
    visibility: hidden;
}

button{
    padding: 10px;
    border-radius: 10px;
}

button:hover{
    background-color: rgb(238, 108, 103);
    color:white;
    cursor: pointer;
}

button a:hover{
    background-color: rgb(253, 97, 97);
    color:white;
    cursor: pointer;
}

td, th{
    border: 1px solid rgba(0, 0, 0, 0.144);
    border-collapse: collapse;
    padding: 10px;
}

a{
    text-decoration: none;
    color: black;
}

main{
    margin: 5% 32%; 
}

.form{
    width: 35vw;
    height: 35vh;
    background-color:rgb(243, 152, 152);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    box-shadow: 1px 1px 1px black;
}

input{
    
    width: 20vw;
    padding: 8px;
}

.form> button{
    width: 20vw;
    
}