* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

#voltar{
    height:40vh;
    font-weight: 600;
    text-decoration:none;
    color: #743a11;
}

header {
    background-color: #8b4513;
    height: 20vh;
    width: 100vw;
}

main {
    height: 90vh;
    width: 100vw;
    overflow-y: scroll;
    background-color: #6a2f05;
    padding: 12vh 35vw;
    
}

#imgCafe{
    height: 24vh;
    width: 100vw;
}

h2{
    text-align:center;
}

#entrega{
    border: 1px solid #000;
    height:10vh;
    width:40vw;
    border-radius:10px;
    text-align: center;
    padding-top:3vh;
    margin-top: 2vh;
    margin-left:-6vw;
}

#pagamento{
    border: 1px solid #000;
    height:20vh;
    width:70vw;
    border-radius:10px;
    text-align: center;
    padding-top:3vh;
    margin-top: 5vh;
    margin-bottom:-4vw;
    margin-left:-21vw;
}

#pagamento> h2{
    text-align: center;
    margin-bottom: 2vh;
}

#pagamento>select{
    height: 5vh;
    border-radius:10px;
    background-color: #8b4513;
    color:#fff;
    border: 1px solid #6a2f05;
    font-weight: 600;
}

#revisao{
    border: 1px solid #000;
    height:50vh;
    width:70vw;
    border-radius:10px;
    text-align: center;
    padding-top:3vh;
    margin-top: 8vh;
    margin-left:-21vw;
}

#pedidoIMG{
    height:10vh;
    margin-right: 4vw;
}

.pedidoAnalise{
    display:flex;
    border: 1px solid #000;
    border-radius:10px;
    width:60vw;
    height:20vh;
    margin-left:4vw;
    align-items:center;
    justify-content:center;
    gap:2vw;
}

#pedidoAnalise>div{
    height:15vh;
    
}

#pedidoNome{
    text-align:center;  
    font-weight: 500;
    color:#fff;
    font-size:16pt;
    margin-top:-2vh;
    margin-bottom:1vh;
}

#opcoesPedido{
    font-size:11pt;
    color:rgba(250, 235, 215, 0.704);
}

#valorCadaPedido{
    margin-top: 3vh;
    margin-left: 15vw;
    font-weight: 600;

}

#valorFinalTotal{
    width:68vw;
    border-radius:4px;
    display:flex;
    margin-left:-20vw;
    justify-content: space-between;
    margin-top:5vh;
}

#valorFinalTotal >p{
    font-size:13pt;
    font-weight: 600;
}

#valorFinal{
    font-size:19pt;
    color:#fff;
}

#confirmar{
    width: 50vw;
    border: 1px solid;
}


#fecharPedido{
    width:85vw;
    height:6vh;
    border-radius:8px;
    background-color: #743a11;
    border:none;
    box-shadow:2px 2px 2px 2px #d27431;
    color:#fff;
    font-weight: 600;
    font-size:13pt;
    margin-top: 5vh;
    margin-left: -18vw;
}

#btn{
    display:flex;
    gap:10vw;
    width: 50vw;
}

#cancelar{
    width:80vw;
    height:6vh;
    border-radius:8px;
    background-color: #fafafa;
    border:none;
    box-shadow:2px 2px 2px 2px #d27431;
    
    font-weight: 600;
    font-size:13pt;
    margin-top: 5vh;
    /* margin-left: -18vw; */
}

.model{
    display:none;
    visibility:hidden;
}