* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #8b4513;
    height: 20vh;
    width: 100vw;
}

main {
    height: 90vh;
    width: 100vw;
    background-color: #6a2f05;
    padding: 12vh 35vw;
}

#imgCafe{
    height: 24vh;
    width: 100vw;
}

h2{
    text-align:center;
}

main>div>div{
    border: 1px solid #000;
    height:10vh;
    width:10vw;
}