* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

body {
    text-align: center;
    background: linear-gradient(to bottom, #6ab7f5, #fff);
    min-height: 100vh;
}


main {
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}

.pokedex {
    width: 100%;
    max-width: 425px;
}

.pokemon_i {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-39%, 30%);
    /* Signifca a posição; Por exemplo, o '-173%' se refere ao x, ou seja a linha horizontal, e o '30%' ao y, a linha vertical.*/
    height: 28%;

}

.dados_poke {
    height: 5vh;
    width: 16vw;
    border-radius: 5px;

    position: absolute;
    font-weight: 600;
    color: rgb(124, 114, 114);
    top: 62.5%;
    right: 20%;

    font-size: clamp(8px, 2vw, 20px)
        /*clamp(valor minimo, valor padrao, valor maximo)*/

}

.descricao {
    width: 12.1vw;
    height: 11.5vh;
    background-color: #ffffff;

    position: absolute;
    font-weight: 600;
    color: rgb(185, 60, 60);
    top: 79.7%;
    right: 24%;
}


.nome_poke {
    color: #000000;
    text-transform: capitalize;
}

.form {
    position: absolute;
    width: 80%;
    top: 72%;
    left: 3%;
}

.input_pesquisa {
    width: 24vw;
    padding: 1%;
    outline: none;
    border: 2px solid black;
    border-radius: 9px;
    background-color: #e4f0fa;
    font-weight: 600;
    color: #000000;
    font-size: clamp(10px, 5vw, 1rem);
    margin-left: 4px;
    box-shadow: -3px, 4px 0 #888, -5px 7px 0 #333;
}

.buttons {
    position: absolute;
    bottom: 12%;
    left: 36.5%;
    width: 65%;
    transform: translate(-50%, 0);
    display: flex;
    gap: 20px;
}

.button {
    width: 13%;
    padding: -1px;
    border: 2px solid black;
    font-size: clamp(10px, 5vw, 1rem);
    font-weight: 600;
    color: rgb(0, 0, 0);
    background-color: #444;
    box-shadow: -2px 3px 0n #222 -1px 6px 0 #000;
}

.button:active {
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem;
}

.modal {
    display: none;
    visibility: hidden;
}

.model {
    width: 100vw;
    height: 100vh;
    position: relative;
    position: absolute;
    font-weight: 600;
    /* color: rgb(99, 151, 228); */
    background: linear-gradient(35deg, rgba(128, 0, 128, 0.519), rgba(0, 0, 255, 0.388));
    top: 0%;
    right: 0%;
}

.modelo {
    width: 55vw;
    height: 70vh;
    background-image: url(./assets/celular.gif);
    background-repeat: no-repeat;
    position: absolute;
    font-weight: 600;
    color: rgb(124, 114, 114);
    top: 23%;
    right: 18%;
}

.paisagemFundo{
    width: 20vw;
    height: 31vh;
    position: absolute;
    top: 12vh;
    left: 11vw;
    right: 22px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px black;
   
   
    
}

.pokemon_imagem {
    margin: -5vh 0vw 0vh 26vw;
    position: absolute;
    top: 33vh;
    left: -8vw;
}

.dados{
    position: absolute;
    right: 29vw;
    top: 8vh;
    font-size: 20px;
    text-shadow: 1px 1px purple;
}
.habilidades{
    font-size: 11px;
    text-shadow: 0.5px 0.5px purple;
    margin: -16px 0 20px 14vw;
}


#descrever {
    background: linear-gradient(45deg, purple, blue);
    font-size: 10px;
    color: black;
    width: 6.5vw;
    height: 31vh;
    margin: -14px 0px 0vh 31.8vw;
    border-radius: 15px;
    overflow-y: scroll;
    }

.fecharModal {
    margin-Left: 21.5vw;
    margin-top: 12px;
    margin-bottom: 0;
}


h2 {
    color: rgb(0, 0, 0);
}

.nome,
.numero {
    color: black;
}

.pokebola {
    width: 12.1vw;
    height: 11.5vh;

    font-weight: 600;
    color: rgb(185, 60, 60);
    top: 70.7%;
    right: 24%;

}

@media (max-width: 2000px) {
    .input_pesquisa {
        width: 17.5vw;
    }

    .descricao {
        width: 9.1vw;
        height: 8vh;
        top: 79.5%;
        right: 23%;
    }

    .descricao>.dados_poke {
        height: 5vh;
        width: 16vw;
        top: 59.5%;
        left: -38%;
    }

    .pokebola {
        width: 9.1vw;
        height: 7vh;
        top: 75.5%;
        right: 23%;
    }

    .modelo{
      padding-top: 40px;
      
      
    }
}